.sidebar-item {
  padding: 8px 0;
  transition: background-color 0.25s ease-in-out;
}

.sidebar-item:hover {
  background-color: #385b8a;
}

.sidebar-item p {
  padding-bottom: 8px;
  margin: 0 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}
